@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(253, 230, 97), rgb(172, 77, 106));
    padding: 5rem;
    height: 100vh;
}

h1 {
    color: white;
}

h4 {
    margin: 1.5rem 0 0.5rem 0;
}

.content__box {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    padding: 20px 20px;
    width: 400px;
    border-radius: 5px;
    margin-top: 3rem;
}

.date {
    color: rgb(221, 58, 58);
    line-height: 2.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    width: 40%;
}

.todo__input {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.input__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    padding: 5px 20px;
    flex-grow: .75;
}

.input__item::placeholder {
    font-style: italic;
}

.add__item {
    line-height: 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    flex-grow: .15;
    cursor: pointer;
}

.add__item:focus {
    background-color: rgb(3, 54, 192);
    border: 1px solid  rgb(117, 117, 117);
}

.notodos__content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pending__content {
    display: flex;
    flex-direction: column;
}

.pending__content .pending__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 1rem;
    height: 2.5rem;
    position: relative;
    animation-name: swim;
    animation-duration: .75s;
}

@keyframes swim {
    0%   {left:50px; top:0px;}
    100%  {left:0px; top:0px;}
}

.pending__check, .completed__check {
width: 35px;
}

.pending__text, .completed__text {
    flex-grow: 1;
}

.pending__item .delete__item {
    display: none;
}

.pending__item:hover .delete__item {
    display: inline-block;
    height: 2.5rem;
    width: 3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: rgb(241, 45, 45);
    cursor: pointer;
    position: relative;
    animation-name: trash;
    animation-duration: .5s;
}

@keyframes trash {
    0%   {width:1.5rem;}
    100%  {width:3rem;}
}

.fa.fa-trash {
    color: #fff;
    font-size: 1.1rem;
}


.completed__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.completed__content .pending__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 1rem;
    height: 2.5rem;
    text-decoration: line-through;
    color: rgb(121, 121, 121);
}

.footer__content {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.show__button, .clear__button {
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
